{% extends 'back/base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ client.surname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ client.number }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ client.birthday ? client.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ client.sex }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ client.creationDate ? client.creationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ client.password }}</td>
            </tr>
            <tr>
                <th>PhotoUrl</th>
                <td>{{ client.photoUrl }}</td>
            </tr>
            <tr>
                <th>IdCart</th>
                <td>{{ client.idCart }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ client.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
