{% extends 'base.html.twig' %}
{% block body %}
<select onchange="location.href='http://127.0.0.1/ftbb_web/ftbb_web/public/index.php/articles/last_sort/'+this.selectedIndex" class="gdlr-core-excerpt-read-more gdlr-core-button gdlr-core-rectangle" style="margin-left:75%; margin-top: 250px;">
                        <option value="-1">Select time range</option>
                        <option value="1">Top in last 6 hours</option>
                        <option value="2">Top in the past day</option>
                        <option value="3">Top of all time</option>
                    </select>
                    <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                        <div class="gdlr-core-page-builder-body">
                            <div class="gdlr-core-pbf-section">
                                <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-image" style="padding-bottom: 40px ;">
                                            <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">

                                                {% for article in articles %}
                                                <!--A single post start-->
                                                    <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-pdlr gdlr-core-style-left">
                                                        <div >
                                                            <a href="http://127.0.0.1/ftbb_web/ftbb_web/public/index.php/articles/{{article.articleId}}"><img src="{{article.photoUrl}}" width="360" height="360">
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-blog-date-wrapper gdlr-core-skin-divider">
                                                            <div class="gdlr-core-blog-date-day gdlr-core-skin-caption">{{article.date | date('d')}}</div>
                                                            <div class="gdlr-core-blog-date-month gdlr-core-skin-caption">{{article.date | date('F')}}</div>
                                                            <div class="gdlr-core-blog-date-year gdlr-core-skin-caption">{{article.date | date('Y')}}</div>
                                                        </div>
                                                        <div class="gdlr-core-blog-full-content">
                                                            <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 40px ;font-weight: 800 ;letter-spacing: 0px ;"><a href="http://127.0.0.1/ftbb_web/ftbb_web/public/index.php/articles/{{article.articleId}}">{{ article.title }}</a></h3>
                                                            <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class="gdlr-core-head"><i class="fa fa-user-o"></i></span><a href="#" title="Posts by John Smith" rel="author">{{ article.author }}</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-category"><span class="gdlr-core-head"><i class="icon_folder-alt"></i></span><a href="#" rel="tag">
                                                            {% if article.category == 0 %}
                                                                Breaking News
                                                            {% elseif article.category == 1 %}
                                                                Hot
                                                            {% elseif article.category == 2 %}
                                                                Announce
                                                            {% else %}
                                                                Misc
                                                            {% endif %}
                                                            </a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-comment-number"><span class="gdlr-core-head"><i class="fa fa-comments-o"></i></span><a href="http://127.0.0.1/http://127.0.0.1/ftbb_web/ftbb_web/public/index.php/articles/{{article.articleId}}">{{ article.getCommentsCount() }}</a></span>
                                                            </div>
                                                            <div class="gdlr-core-blog-content">{{ article.text|length > 200 ? article.text|slice(0, 200) ~ '...' : article.text  }}
                                                                <div class="clear"></div><a class="gdlr-core-excerpt-read-more gdlr-core-button gdlr-core-rectangle" href="http://127.0.0.1/ftbb_web/ftbb_web/public/index.php/articles/{{article.articleId}}">Read More</a></div>
                                                        </div>
                                                    </div>
                                                <!-- A single post end-->
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}